{% extends 'base.html.twig' %}
{% block title %}
  Symrecipe - title
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">
       Espace consultant
      </h1>
     
      <a class="btn btn-primary btn-lg"  href="{{path('consultant.candidat')}}"  role="button">Validation compte candidat</a>
      <a class="btn btn-primary btn-lg" href="{{path('consultant.recruteur')}}" role="button">validation compte recruteurs</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">validation annonces</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">validation candidatures</a>
    </div>
  </div>
{% endblock %}
