{% extends 'base.html.twig' %}
{% block title %}
  Symrecipe - title
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">
        Bienvenue sur TRTConseilAPP
      </h1>
      <p class="lead">
        TRTConseil est une agence de recrutement spécialisée dans l'hotellerie, elle propose 
         cette appication pour permettre aux différents acteurs de l'hotellerie de poiuvoir facielmeent changé.
      </p>
      <hr class="my-4" />
      <p>
        Pour commencer, rendez vous sur la page d'inscription pour utiliser
        l'application.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">inscription</a>
    </div>
  </div>
{% endblock %}
