{% extends 'base.html.twig' %}
{% block title %}
  Symrecipe - title
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">
        Vous avez déja postulé a cette annonce.
      </h1>
     
          <h4 class="display-4">
        votre candidature est en cours de validation , une réponse vous sera envoyé dans les plus bref délais.
      </h4>

    </div>
  </div>
{% endblock %}