<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Nouvelle candidature pour le candidat 
		</h1>

			<p>	{{ candidat.name }}</p>

		<p>vous trouverez en pièce jointe son cv</p>
		</div>
	</body>
</html>
