<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		Nouvelle candidature du candidat 
			<p>	{{ candidat.name }}</p>

			<p> pour l'annonce {{ annonce.name }} </p>

		<p>vous trouverez en pièce jointe son cv</p>
		</div>
	</body>
</html>
