{% extends 'base.html.twig' %}

{% block title %}TRTConseil - modification du mot de passe{% endblock %}

{% block body %}
 <div class="container">
 <div class="card border-primary my-3">
        <h1 class="card-header">
   Formulaire de modification du mot de passe
        </h1>
</div>


  {% for message in app.flashes('Warning') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %}

 {{form(form)}}
 </div>

{% endblock %}
