{% extends 'base.html.twig' %}

{% block title %}
  TRTConseil - inscription
{% endblock %}


{% block body %}

<div class="container">
<div class="card border-primary my-3">
        <h1 class="card-header">
   Creation de consultant
        </h1>
</div>

{{form(form)}}

</div>

    
{% endblock %}